.borderTOmain {
  height: 1px;
  background-color: rgb(179, 179, 179);
}
.stylesToMainLayOut {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.styleToPage h1{
    font-size: 60px;
    font-weight: bold !important;
    
}