.imgCard {
  width: 172px;
  height: 120px;
  object-fit: contain;
}
.conToImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headers {
  display: flex;
  justify-content: space-between;
}

.containerToImg {
  background-color: #f5f5f5;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 270px;
}
.iconsStyle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.discount {
  height: fit-content;
  display: inline-block;
  padding: 3px;
  background: #db4444;
  color: white;
  border-radius: 5px;
}
.newItem {
  height: fit-content;
  display: inline-block;
  padding: 5px;
  background: #00ff66;
  color: white;
  border-radius: 5px;
}
.iconsStyle > i {
  width: 30px;
  cursor: pointer;
  height: 30px;
  border-radius: 50%;
  background: white;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.iconsStyle > svg {
  width: 30px;
  cursor: pointer;
  height: 30px;
  border-radius: 50%;
  background: white;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.iconsStyle > i::before {
  font-weight: 600 !important;
}

.nameProduct {
  font-size: 20px;
  padding: 5px 0;
}

.priceProduct {
  color: #db4444;
}
.priceCon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.discontPrice {
  color: #b9b9b9;
  text-decoration: line-through;
}

.buttonsStyle {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding-top: 20px;
}
.buttonsStyle > button {
  font-size: 14px;
}
